{% extends 'base/index.html' %}


{% block content_wrapper %}
<!-- Bloque de titulo del bloque contenido -->
<div class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
                <h1 class="m-0">Agregar Usuarios/Permisos</h1>
            </div> <!-- col/-->
            <div class="col-sm-6">
                <ol class="breadcrumb float-sm-right">
                    <li class="breadcrumb-item"><a href="/">Home</a></li>
                    <li class="breadcrumb-itemactivate">Agregar Usuarios/Permisos</li>
                </ol>
            </div><!--../.col-->
        </div><!-- ../.row-->
    </div><!-- -/.container-fluid---->
</div>
{% endblock content_wrapper %}


{% block content %}
<!-- Bloque Contenido -->

<div class="row">
    <div class="col-12 col-sm-12">
        <div class="card card-primary card-tabs">
            <div class="card-header p-0 pt-1">
                <ul class="nav nav-tabs" id="custom-tabs-one-tab" role="tablist">
                    <li class="nav-item">
                        <a href="#custom-tabs-one-home" class="nav-link active" id="custom-tabs-one-home-tab" data-toggle="pill" role="tab" aria-controls="custom-tabs-one-home" aria-selected="true">
                            {% if obj %}Editar{%else%}Agregar{%endif%}
                        </a>
                    </li>
                    <li class="nav-item">
                        <a href="#custom-tabs-one-profile" class="nav-link" id="custom-tabs-one-profile-tab" data-toggle="pill" role="tab" aria-controls="custom-tabs-one-profile" aria-selected="false">Profile</a>
                    </li>
                </ul>
            </div>
            <div class="card-body">
                <div class="tab-content" id="custom-tabs-one-tabcontent">
                    <div class="tab-pane fade show active" id="custom-tabs-one-home" role="tabpanel" aria-labelledby="custom-tabs-one-home-tab">
                        <form method="POST" class="form-group">
                            {% csrf_token %}
                            {{ form.as_p }}
                            <button type="submit" class="btn bg-success btn-app"><i class="fas fa-save"></i>Agregar</button>
                            <button type="reset" class="btn bg-danger btn-app"><i class="fas fa-window-close"></i>Cancelar</button>
                            <a href="{% url 'config:users_list' %}" class="btn btn-app bg-info"><i class="fas fa-hand-point-left"></i>Regresar</a>
                        </form>
                    </div>
                    <div class="tab-pane fade" id="custom-tabs-one-profile" role="tabpanel" aria-labelledby="custom-tabs-one-profile-tab">
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Iusto enim quidem maxime recusandae accusamus mollitia incidunt corrupti facilis. Minus consequuntur qui vitae incidunt, totam vel voluptatibus quas ipsa expedita cum!
                        Quibusdam doloribus culpa quas officia animi velit unde. Nisi, rem sed natus quidem vero commodi neque suscipit optio, facilis corrupti, nesciunt minima error modi ipsum beatae quas saepe dolore dicta!
                        Laboriosam optio a vel numquam, culpa ut perferendis minima earum pariatur necessitatibus quasi alias, corporis suscipit. Nam, nostrum. Iure porro accusantium repudiandae itaque explicabo assumenda ea voluptatem similique voluptatibus nihil!
                        Aperiam, quod vero expedita architecto autem suscipit. Optio corporis impedit expedita ipsa accusantium vel alias assumenda mollitia eum aperiam libero, ipsam nulla, facere non soluta quos atque quo? Alias, voluptate.
                        Delectus minima recusandae deleniti libero? Ea magni saepe maxime eligendi repellat deserunt voluptatum sunt nesciunt. Officia aperiam vel adipisci ea provident quos excepturi dicta saepe libero. Maxime quidem perferendis inventore.
                        Qui ea, consectetur provident ut tempore assumenda vitae id perspiciatis atque culpa at consequuntur facilis reiciendis pariatur maxime aliquid sit, numquam est labore ullam voluptates animi enim ratione sequi. Quisquam?
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


{% endblock content %}